<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOGS" value="./logs" />

    <!-- Console Appender (Human readable) -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <!-- System Log Appender (JSON) -->
    <appender name="SystemFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/systemLog.json</file>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"log_type":"SYSTEM"}</customFields>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archived/systemLog-%d{yyyy-MM-dd}.%i.json</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- Business Log Appender (JSON) -->
    <appender name="BusinessFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/businessLog.json</file>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"log_type":"BUSINESS"}</customFields>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archived/businessLog-%d{yyyy-MM-dd}.%i.json</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- Specific Logger for Business Logic -->
    <logger name="business-logger" level="INFO" additivity="false">
        <appender-ref ref="BusinessFile" />
        <appender-ref ref="Console" />
    </logger>

    <!-- Root Logger (System/Technical) -->
    <root level="INFO">
        <appender-ref ref="SystemFile" />
        <appender-ref ref="Console" />
    </root>

</configuration>
