name: Java CI with Maven

on:
  push:
    branches: 
      - "main"
      - "master"
      - "prepare-v*"
      - "*/prepare-v*"
  pull_request:
    branches: 
      - "main"
      - "master"
      - "prepare-v*"
      - "*/prepare-v*"

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 25
      uses: actions/setup-java@v4
      with:
        java-version: '25'
        distribution: 'temurin'
        cache: 'maven'
        
    - name: Build with Maven
      run: ./mvnw -B verify
      env:
        TEST_LEDGER_PRIVATE_KEY_BASE64: ${{ secrets.TEST_LEDGER_PRIVATE_KEY_BASE64 }}
        TEST_LEDGER_PUBLIC_KEY_BASE64: ${{ secrets.TEST_LEDGER_PUBLIC_KEY_BASE64 }}
      
    - name: Upload Coverage Report
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: jacoco-report
        path: target/site/jacoco/
        retention-days: 5
